package com.{{company}}.{{org}}.{{service}}.configuration.controller;

import java.util.Map;

import javax.servlet.http.HttpServletRequest;

import org.chenile.base.response.GenericResponse;
import com.{{company}}.{{org}}.{{service}}.model.{{Service}}Entity;
import org.chenile.http.annotation.ChenileController;
import org.chenile.http.handler.ControllerSupport;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestHeader;
import org.springframework.web.bind.annotation.RestController;

@RestController
@ChenileController(value = "{{service}}Service", serviceName = "_{{service}}Service_",
		healthCheckerName = "{{service}}HealthChecker")
public class {{Service}}Controller extends ControllerSupport{
	
	@PostMapping("/{{service}}/op1")
	public ResponseEntity<GenericResponse<{{Service}}Entity>> op1(
			HttpServletRequest httpServletRequest,
			@RequestBody {{Service}}Entity entity){
		return process("op1",httpServletRequest,entity);	
	}

}