package com.{{company}}.{{org}}.{{service}}.service.store;

import java.util.HashMap;
import java.util.Map;

import {{chenilePackage}}.utils.entity.service.EntityStore;
import com.{{company}}.{{org}}.{{service}}.model.{{Service}};

public class {{Service}}EntityStore implements EntityStore<{{Service}}>{
	private Map<String, {{Service}}> theStore = new HashMap<>();
	public static int counter = 1;
	@Override
	public void store({{Service}} entity) {
		if (entity.getId() == null) {
			entity.setId(counter++ + "");
		}
		theStore.put(entity.getId(), entity);		
	}

	@Override
	public {{Service}} retrieve(String id) {
		return theStore.get(id);
	}

}
