package com.{{company}}.{{org}}.{{service}}.configuration;

import org.chenile.core.annotation.ConditionalHealthCheckOnTrajectory;
import org.chenile.core.annotation.ConditionalOnTrajectory;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

import com.{{company}}.{{org}}.{{service}}.service.{{Service}}Service;
import com.{{company}}.{{org}}.{{service}}.service.impl.{{Service}}ServiceImplMX;
import com.{{company}}.{{org}}.{{service}}.service.healthcheck.{{Service}}HealthCheckerMX;

/**
 This is where you will instantiate all the required classes in Spring

*/
@Configuration
public class {{Service}}ConfigurationMX {
	@ConditionalOnTrajectory(id = "mx",service = "{{service}}Service")
	@Bean public {{Service}}Service _{{service}}ServiceMX_() {
		return new {{Service}}ServiceImplMX();
	}

	@ConditionalHealthCheckOnTrajectory(id = "mx",service = "{{service}}Service")
	@Bean {{Service}}HealthCheckerMX {{service}}HealthCheckerMX(){
    	return new {{Service}}HealthCheckerMX();
    }
}
