package com.{{company}}.{{org}}.{{service}}.service;

import com.{{company}}.{{org}}.{{service}}.model.{{Service}}Entity;

public interface {{Service}}Service {
	// Define your interface here
	public {{Service}}Entity op1({{Service}}Entity {{service}}Entity);
}
