package {{com}}.{{company}}.{{org}}.{{service}}.configuration.controller;

import java.util.Map;

import jakarta.servlet.http.HttpServletRequest;

import org.chenile.base.response.GenericResponse;
import org.chenile.http.annotation.BodyTypeSelector;
import org.chenile.http.annotation.ChenileController;
import org.chenile.http.annotation.ChenileParamType;
import org.chenile.http.handler.ControllerSupport;
import org.springframework.http.ResponseEntity;

import {{chenilePackage}}.workflow.model.AbstractStateEntity;

import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestHeader;
import org.springframework.web.bind.annotation.RestController;
import {{chenilePackage}}.workflow.dto.StateEntityServiceResponse;
import {{com}}.{{company}}.{{org}}.{{service}}.model.{{Service}};

@RestController
@ChenileController(value = "{{service}}Service", serviceName = "_{{service}}StateEntityService_",
		healthCheckerName = "{{service}}HealthChecker")
public class {{Service}}Controller extends ControllerSupport{
	
	@GetMapping("/{{service}}/{id}")
	public ResponseEntity<GenericResponse<StateEntityServiceResponse>> retrieve(
			HttpServletRequest httpServletRequest,
			@PathVariable String id){
		return process("retrieve",httpServletRequest,id);	
	}

	@PostMapping("/{{service}}")
	public ResponseEntity<GenericResponse<StateEntityServiceResponse>> create(
			HttpServletRequest httpServletRequest,
			@ChenileParamType(AbstractStateEntity.class)
			@RequestBody {{Service}} entity){
		return process("create",httpServletRequest,entity);	
	}

	
	@PutMapping("/{{service}}/{id}/{eventID}")
	@BodyTypeSelector("{{service}}BodyTypeSelector")
	public ResponseEntity<GenericResponse<StateEntityServiceResponse>> processById(
			HttpServletRequest httpServletRequest,
			@PathVariable String id,
			@PathVariable String eventID,
			@ChenileParamType(Object.class) 
			@RequestBody String eventPayload){
		return process("processById",httpServletRequest,id,eventID,eventPayload);	
	}


}
