package com.{{company}}.{{org}}.{{service}};

import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.boot.web.servlet.support.SpringBootServletInitializer;
import org.springframework.context.annotation.Configuration;
import org.springframework.context.annotation.PropertySource;
import org.springframework.test.context.ActiveProfiles;


@Configuration
@PropertySource("classpath:com/{{company}}/{{org}}/{{service}}/TestService.properties")
@SpringBootApplication(scanBasePackages = {  "{{chenilePackage}}.configuration", "com.{{company}}.{{org}}.{{service}}.configuration" })
@ActiveProfiles("unittest")
public class SpringTestConfig extends SpringBootServletInitializer{

	
}

