package com.{{company}}.{{org}}.{{service}}.service.commands;

import com.fasterxml.jackson.core.type.TypeReference;
import {{chenilePackage}}.query.service.commands.RTCommand;
import com.{{company}}.{{org}}.{{service}}.model.filters.RT1Filter;
import com.{{company}}.{{org}}.{{service}}.model.RT1Model;
import {{chenilePackage}}.query.model.ResponseRow;
import {{chenilePackage}}.query.model.SearchRequest;
import {{chenilePackage}}.query.model.SearchResponse;

/**
	Command extracts RT1Model from RT1 by using RT1Filter to construct the request
**/
public class RT1Command extends RTCommand<RT1Filter>	{
	
	protected SearchResponse executeSearch(SearchRequest<RT1Filter> searchRequest) {
		RT1Model model = new RT1Model();
		model.id = "RT1Command";
		RT1Filter filters = searchRequest.getFilters();
		// Use the filters to make downstream invocations and populate the model above 
		// from the response of the RTs
		SearchResponse sr = new SearchResponse();
		ResponseRow responseRow = new ResponseRow();
		responseRow.setRow(model);
		sr.setData(responseRow);
		return sr;
	}

	@Override
	protected TypeReference<SearchRequest<RT1Filter>> searchRequestType() {
		return new TypeReference<SearchRequest<RT1Filter>>() {};
	}
}
