DROP TABLE IF EXISTS {{namespace}};

CREATE TABLE {{namespace}} (ID INT PRIMARY KEY, name VARCHAR(25),branch VARCHAR(25),percentage int, phone VARCHAR(25),email VARCHAR(25));

INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (1,'James','Chennai',45,'9988765700','james@mera.com');

INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (2,'John','Bangalore',56,'9988765701','john@mera.com');

INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (3,'Mohan','Delhi',79,'9988765702','mohan@mera.com');

INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (4,'Amit','Mumbai',76,'9988765703','amit@mera.com');

INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (5,'Akash','Bangalore',66,'9988765704','akash@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (6,'Manjunath','Chennai',63,'9988765705','manjunath@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (7,'Kathy','Bangalore',59,'9988765706','kathy@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (8,'Kamala','Gurgaon',80,'9988765707','kamala@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (9,'Sudha','Kolkata',45,'9988765708','sudha@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (10,'Rajesh','Gulbarga',21,'9988765709','rajesh@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (11,'Srinivas','Chandigarh',77,'9988765710','srinivas@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (12,'Sam','Hyderabad',76,'9988765711','sam@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (13,'Gurupreet','Delhi',45,'9988765712','gurupreet@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (14,'Rashmi','Mumbai',90,'9988765713','rashmi@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (15,'Rahul','Delhi',48,'9988765714','rahul@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (16,'Gopi','Trivandrum',99,'9988765715','gopi@mera.com');

INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (17,'Honey','Delhi',73,'9988765716','honey@mera.com');

INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (18,'Vikas','Bangalore',65,'9988765717','vikas@mera.com');

INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (19,'Phani','Chennai',52,'9988765718','phani@mera.com');

INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (20,'Ayush','Hyderabad',48,'9988765719','ayush@rashmkimera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (21,'Siddharth','Jaipur',97,'9988765720','siddharth@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (22,'Damodar','Delhi',12,'9988765721','damodar@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (23,'Sundar','Chennai',45,'9988765722','sundar@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (24,'Chetan','Mumbai',19,'9988765723','chetan@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (25,'Narendra','Mumbai',70,'9988765724','narendra@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (26,'Shankuntala','Bangalore',23,'9988765725','shankuntala@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (27,'Sohan','Chennai',50,'9988765726','sohan@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (28,'Roshan','Delhi',69,'9988765727','roshan@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (29,'Vijay','Bangalore',43,'9988765728','vijay@mera.com');
INSERT INTO {{namespace}} (ID,name,branch,percentage,phone,email) VALUES (30,'Brijesh','Hyderabad',65,'9988765729','brijesh@mera.com');