query.datasource.type=com.zaxxer.hikari.HikariDataSource
query.datasource.minimumIdle = 2
query.datasource.maximumPoolSize = 10
query.datasource.idleTimeout = 5000

query.datasource.jdbcUrl=jdbc:h2:mem:datalake;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;INIT=RUNSCRIPT FROM 'classpath:schema.sql'

query.datasource.username=sa
query.datasource.password=

# query.jpa.hibernate.hbm2ddl.auto=update
# above not required since liquibase does the creates
query.jpa.hibernate.show_sql=true
query.jpa.properties.hibernate.dialect=org.hibernate.dialect.H2Dialect
query.jpa.properties.hibernate.format_sql=true
#query.jpa.hibernate.ddl-auto=update
#query.jpa.hibernate.ddl-auto = none
#query.jpa.generate-ddl=true

query.jpa.hibernate.ddl-auto=create

query.mapperFiles=classpath*:{{com}}/{{company}}/{{org}}/query/service/mapper/*.xml
query.definitionFiles=classpath*:{{com}}/{{company}}/{{org}}/query/service/mapper/*.json

##Liquibase
#query.datasource.liquibase.change-log=classpath:liquibase/query/changelog/changelog-master.sql

spring.h2.console.enabled=true
query.jpa.database-platform=org.hibernate.dialect.H2Dialect

##Liquibase
query.datasource.liquibase.change-log=classpath:liquibase/query/changelog/changelog-master.xml