package com.{{company}}.{{org}}.{{monolith}};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.boot.web.servlet.support.SpringBootServletInitializer;

@SpringBootApplication(scanBasePackages = { "com.{{company}}.{{org}}.**.configuration",
		"{{chenilePackage}}.configuration" })
public class {{Monolith}}Application extends SpringBootServletInitializer {

	public static void main(String[] args) {
		SpringApplication.run({{Monolith}}Application.class, args);
	}
}
