package {{com}}.{{company}}.{{org}}.{{service}}.service.impl;

import org.chenile.base.exception.BadRequestException;
import org.chenile.base.exception.ErrorNumException;
import org.springframework.beans.factory.annotation.Autowired;

import {{com}}.{{company}}.{{org}}.{{service}}.model.{{Service}}Entity;
import {{com}}.{{company}}.{{org}}.{{service}}.service.{{Service}}Service;

public class {{Service}}ServiceImpl implements {{Service}}Service{
	@Override
	public {{Service}}Entity op1({{Service}}Entity {{service}}Entity) {
		// Implement the service here
		{{service}}Entity.id = "{{Service}}ServiceImpl";
		return {{service}}Entity;
	}
	
	

}
