<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<parent>
		<artifactId>{{monolith}}-parent</artifactId>
		<groupId>com.{{company}}.{{org}}.{{monolith}}</groupId>
		<version>${revision}</version>
		<relativePath>../pom.xml</relativePath>
	</parent>

	<artifactId>{{monolith}}-package</artifactId>
	<packaging>jar</packaging>

	<name>{{Monolith}} Package - Deploys the {{Monolith}} related set of service</name>

	<dependencies>

		<!-- Chenile Dependencies Starts -->
		<dependency>
			<groupId>{{chenilePackage}}</groupId>
			<artifactId>chenile-http</artifactId>
		</dependency>
		<!-- Chenile Dependencies Ends -->

		<dependency>
			<groupId>ch.qos.logback</groupId>
			<artifactId>logback-classic</artifactId>
		</dependency>

		<dependency>
			<groupId>{{chenilePackage}}</groupId>
			<artifactId>utils</artifactId>
		</dependency>
		<dependency>
			<groupId>com.{{company}}.{{org}}.{{monolith}}</groupId>
			<artifactId>{{monolith}}-configurations</artifactId>
			<version>${revision}</version>
		</dependency>
		<dependency>
				<groupId>org.springdoc</groupId>
				<artifactId>springdoc-openapi-starter-webmvc-ui</artifactId>
		</dependency>

		<!-- Start including all the services that need to be packaged with this mini monolith -->
		{{#services}}
  			<dependency>
				<groupId>com.{{company}}.{{org}}.{{service}}</groupId>
				<artifactId>{{.}}</artifactId>
				<version>{{serviceVersion}}</version>
			</dependency>
  		{{/services}}
		
	</dependencies>


	<build>
		<resources>
			<resource>
				<directory>src/main/resources</directory>
				<filtering>true</filtering>
			</resource>
		</resources>
		<plugins>
			<plugin>
   				<groupId>org.springframework.boot</groupId>
				   <artifactId>spring-boot-maven-plugin</artifactId>
				   <configuration>
				      <jvmArguments>-Dspring.application.admin.enabled=true</jvmArguments>
				   </configuration>
				   <executions>
				    <execution>
				     <id>pre-integration-test</id>
				     <goals>
				      <goal>start</goal>
				     </goals>
				    </execution>
				    <execution>
				     <id>post-integration-test</id>
				     <goals>
				      <goal>stop</goal>
				     </goals>
				    </execution>
				   </executions>
  			</plugin>
  			<plugin>
			   <groupId>org.springdoc</groupId>
			   <artifactId>springdoc-openapi-maven-plugin</artifactId>
			   <version>1.1</version>
			   <executions>
			    <execution>
			     <id>integration-test</id>
			     <goals>
			      <goal>generate</goal>
			     </goals>
			    </execution>
			   </executions>
  			</plugin>
  			<plugin>
			   <groupId>org.chenile</groupId>
			   <artifactId>chenile-config-maven-plugin</artifactId>
			   <executions>
			    <execution>
			     <id>integration-test</id>
			     <goals>
			      <goal>generate</goal>
			     </goals>
			    </execution>
			   </executions>
  			</plugin>
		</plugins>
	</build>

</project>
