Feature: Tests the {{service}} Service using a REST client. 
 
  Scenario: Trial test. Change it according to the actual service

    When I POST a REST request to URL "/{{service}}/op1" with payload
    """
    {
	 
	}
	"""
	Then the REST response key "id" is "{{Service}}ServiceImpl"

	Scenario: Health check test. 

    When I GETa REST request to URL "/health-check/{{service}}Service" 
		Then the REST response key "message" is "{{Service}} is fine!"
	 
    