package com.{{company}}.{{org}}.{{service}}.model;

import {{chenilePackage}}.workflow.model.AbstractStateEntity;

public class {{Service}} extends AbstractStateEntity{
	private static final long serialVersionUID = 5943127292911636088L;	
	public String assignee;
	public String assignComment;
	public String closeComment;
	public String resolveComment;
	public String description;
	public String openedBy;
}
