package com.{{company}}.{{org}}.{{service}}.model;

import {{chenilePackage}}.workflow.param.MinimalPayload;

public class Assign{{Service}}Payload extends MinimalPayload{
	private static final long serialVersionUID = 7166835437051551936L;
	public String assignee;	
}
