package com.{{company}}.{{org}}.{{service}}.configuration;

import java.util.concurrent.ExecutorService;

import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

import {{chenilePackage}}.query.service.commands.QueryChain;
import com.{{company}}.{{org}}.{{service}}.service.commands.RT3Command;

@Configuration
public class {{Service}}MXConfiguration {

	@Bean RT3Command rt3Command() {
		return new RT3Command();
	}

	
	@Bean QueryChain mxroot(ExecutorService {{service}}ExecutorService) {
		QueryChain chain = new QueryChain();
		chain.setExecutorService({{service}}ExecutorService);
		return chain;
	}

}
