<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<parent>
		<groupId>{{com}}.{{company}}.{{org}}.{{service}}</groupId>
		<artifactId>{{service}}-parent</artifactId>
		<version>${revision}</version>
		<relativePath>../pom.xml</relativePath>
	</parent>
	
	<artifactId>{{service}}-service</artifactId>
	<packaging>jar</packaging>

	<name>{{Service}} Service Implementations</name>

	<dependencies>
		<dependency>
			<groupId>{{com}}.{{company}}.{{org}}.{{service}}</groupId>
			<artifactId>{{service}}-api</artifactId>
		</dependency>
	
		<dependency>
			<groupId>{{chenilePackage}}</groupId>
            <artifactId>workflow-service</artifactId>
		</dependency>
		<dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web</artifactId>
	    </dependency>
	    <dependency>
			<groupId>org.chenile</groupId>
			<artifactId>chenile-http</artifactId>
		</dependency>
		<dependency>
			<groupId>org.chenile</groupId>
			<artifactId>cucumber-utils</artifactId>
			<scope>test</scope>
		</dependency>
		<dependency>
			<groupId>org.junit.vintage</groupId>
			<artifactId>junit-vintage-engine</artifactId>
			<scope>test</scope>
		</dependency>
	</dependencies>
</project>
