package {{com}}.{{company}}.{{org}}.{{service}};


import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.boot.web.servlet.support.SpringBootServletInitializer;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.context.annotation.Profile;
import org.springframework.context.annotation.PropertySource;
import org.springframework.test.context.ActiveProfiles;

import {{chenilePackage}}.utils.entity.service.EntityStore;
import {{com}}.{{company}}.{{org}}.{{service}}.bdd.store.Dummy{{Service}}EntityStore;
import {{com}}.{{company}}.{{org}}.{{service}}.model.{{Service}};


@Configuration
@PropertySource("classpath:{{com}}/{{company}}/{{org}}/{{service}}/TestService.properties")
@SpringBootApplication(scanBasePackages = { "{{chenilePackage}}.configuration", "{{com}}.{{company}}.{{org}}.{{service}}.configuration" })
@ActiveProfiles("unittest")
public class SpringTestConfig extends SpringBootServletInitializer{
	// Instantiate the fake store for unit testing purposes only
	@Bean @Profile("unittest") EntityStore<{{Service}}> {{service}}EntityStore() {
		return new Dummy{{Service}}EntityStore();
	}
	
}

