# All Chenile configuration properties

chenile.service.json.package=classpath*:{{com}}/{{company}}/{{org}}/**/service/*.json,classpath*:org/chenile/**/service/*.json
chenile.event.json.package=classpath*:{{com}}/{{company}}/{{org}}/foo/event/*.json
chenile.cache.json.package=classpath*:{{com}}/{{company}}/{{org}}/foo/cache/*.json

chenile.interceptors.path=org/chenile/core/chenile-core.xml

chenile.module.name={{monolith}}
chenile.pre.processors=populateContextContainer
chenile.post.processors=
chenile.copy.headers.strategy=
# The event processor to be used. This can be over-ridden at the app level
# Hence must be specified here
#chenile.event.processor=mpEventProcessor

# KAFKA related
#chenile.kafka.generic[bootstrap.servers]=
chenile.kafka.sender[retries]=0
chenile.kafka.sender[batch.size]=16384
chenile.kafka.sender[linger.ms]=1
chenile.kafka.sender[buffer.memory]=33554432

chenile.kafka.consumer[enable.auto.commit]=true
chenile.kafka.consumer[auto.commit.interval.ms]=100
chenile.kafka.consumer[session.timeout.ms]=15000

# File Watch Related
#chenile.file.watch.json.package=classpath*:{{com}}/{{company}}/{{org}}/**/filewa tch/*.json
chenile.file.watch.source.folder=/tmp/src
chenile.file.watch.dest.folder=/tmp/dest
chenile.file.watch.polltime.seconds=20

# Cache Related
chenile.cache.name=foo-cache


chenile.swagger.options.headers[0].name=x-foo-tid
chenile.swagger.options.headers[0].required=true
chenile.swagger.options.headers[0].description=Tenant ID
chenile.swagger.options.headers[1].name=x-foo-eid
chenile.swagger.options.headers[1].required=true
chenile.swagger.options.headers[1].description=Employee ID
chenile.swagger.options.headers[2].name=x-foo-apt
chenile.swagger.options.headers[2].description=Application type
